
<div class="container center">
  <div class="cont">
    <p>Internacional<p>
    <div class="internacional z-depth-2 black">
      <div class="cancun white">
        Cancun
      </div>

        <img src="./assets/cancun.jpg" alt="Cancun">
          <div class="white">
            Miami
          </div>
        <img src="./assets/miami.jpg" alt="Miami">

   </div>
   <p>Nacional</p>
    <div class="nacional z-depth-2 black">
      <div class="white">
        Rio de Janeiro
        </div>
        <img src="./assets/rio.jpg" alt="Rio">
        <div class="white">
          Foz do Iguaçu </div>
        <img src="./assets/foz.jpg" alt="Foz do Iguaçu">
   </div>
  </div>
</div>
