<div class="container">
  <div>
    <h3> Por que viajar conosco?!</h3>
       <div class="corpo"><p> Somos uma das agências de viagem mais bem avaliadas pelos consumidores, líder em vendas e satisfação por toda a América Latina.
      Além de possuirmos pacotes que cabem no seu bolso, viaje com a confiança e segurança que seus sonhos merecem!
          </p>
      </div>

      <h3>Documentação necessária</h3>
        <div class="corpo">
            <p> Para realizar a sua compra na BesTrip, você deverá ter seu RG, CPF, data de nascimento, nome e sobrenome dos passageiros.<br>
              Revise com bastante atenção a sua reserva e saiba quais são os vistos e vacinações necessárias.
              Obs: Menores de 18 anos só viajarão acompanhados dos responsáveis ou com prévia autorização.
            </p>
       </div>

  </div>
</div>
